<odoo>
	<data>
		<menuitem id="vit_uml_academic_top_menu" name="Addon Academic by UML" sequence="20" web_icon="vit_uml_academic,static/description/icon.png" />
		<menuitem id="vit_uml_academic_sub_menu" name="Operations" sequence="40" parent="vit_uml_academic_top_menu" />
		<menuitem id="vit_uml_academic_config_menu" name="Configurations" sequence="1000" parent="vit_uml_academic_top_menu" />
	</data>
</odoo>